<h1 class="xx-large border-bottom border-dark pb-1">Ranking</h1>

<%= form_tag({action:"ranking"}, {method:"get", class:"form-flaoting"}) do%>
    <%= text_field_tag("user", @user, {class:"form-control w-25 float-left border-secondary", style:"margin-left:55%;", "data-toggle"=>"tooltip", "data-placement"=>"top", title:"ワイルドカードを使用できます\n%:任意の文字列", placeholder: "名前"}) %>
    <%= text_field_tag("sort_for", @sort_for, {class:"display-none float-left", style:"margin:0 auto;"}) %>
    <%= submit_tag("検索", class:"btn  border-secondary ml-1")%>
<% end %>

<table class="table table-bordered large table-striped border-top border mt-4 w-75 " style="margin:0 auto;">
    <thead class=" text-center table-dark">
        <th>
            順位
        </th>
        <th>
            <div class="float-left " style="margin-left:0;">名前</div>
            <%= button_to("▼", {action:"ranking"}, {class:"float-right bg-dark border border-dark #{@sort_for=="name desc" ? "text-danger" : "text-info"}", style:"font-size:small", method:"get", params:{user: @user, sort_for: "name desc"}})%>
            <%= button_to("▲", {action:"ranking"}, {class:"float-right bg-dark border border-dark #{@sort_for=="name asc" ? "text-danger" : "text-info"}", style:"font-size:small", method:"get", params:{user: @user, sort_for: "name asc"}})%>
        </th>
        <th>
            <div class="float-left " style="margin-left:0;">スコア</div>
            <%= button_to("▼", {action:"ranking"}, {class:"float-right bg-dark border border-dark #{@sort_for=="score desc" ? "text-danger" : "text-info"}", style:"font-size:small", method:"get", params:{user: @user, sort_for: "score desc"}})%>
            <%= button_to("▲", {action:"ranking"}, {class:"float-right bg-dark border border-dark #{@sort_for=="score asc" ? "text-danger" : "text-info"}", style:"font-size:small", method:"get", params:{user: @user, sort_for: "score asc"}})%>
        </th>
        <th style="">
            <div class="float-left " style="margin-left:0;">日時</div>
            <%= button_to("▼", {action:"ranking"}, {class:"float-right bg-dark border border-dark #{@sort_for=="created_at desc" ? "text-danger" : "text-info"}", style:"font-size:small", method:"get", params:{user: @user, sort_for: "created_at desc"}})%>
            <%= button_to("▲", {action:"ranking"}, {class:"float-right bg-dark border border-dark #{@sort_for=="created_at asc" ? "text-danger" : "text-info"}", style:"font-size:small", method:"get", params:{user: @user, sort_for: "created_at asc"}})%>
        </th> 
    </thead>

    <tbody class="table-hover table light">
        <% @data.each_with_index do |obj, idx| %>
            <tr>
                <td class="text-center "> <%= @rank_for_data[idx] %> </td>
                <td class="text-center "> 
                    <%= button_to(obj.name, {action:"ranking"}, {class:"user", style:"cursol:pointer; margin:0 auto;", method:"get", params:{user: obj.name, sort_for: @sort_for}}) %>
                </td>
                <td class="text-right  <%= @color_for_data[idx]%>"> <%= "#{obj.score}REN" %> </td>
                <td class="text-center "> <%= obj.created_at %> </td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= javascript_pack_tag( "access_logger" )%>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script>$('[data-toggle="tooltip"]').tooltip()</script>

